@charset "utf-8";
/* User: Eric Ma
/* Email: zjafei@gmail.com
/* Date: 2015/6/5 */
/* Time: 8:57 */
.ui-popup-modal ._SELECTIONSELECTAREA{
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
    border-color:#ccc;
}
.ui-popup-bottom-left ._SELECTIONSELECTAREA, .ui-popup-bottom ._SELECTIONSELECTAREA, .ui-popup-bottom-right ._SELECTIONSELECTAREA {
    top: -1px;
}
._SELECTIONSELECTAREA .text-warning{
    color: #f60;
    display: none;
}
._SELECTIONSELECTAREA .select-name{
    cursor: pointer;
    margin-left: 10px;
}
._SELECTIONSELECTAREA .select-name:hover{
    color:#f60
}

._SELECTIONSELECTAREA .ui-dialog-arrow-a, ._SELECTIONSELECTAREA .ui-dialog-arrow-b{
    display: none;
}
._SELECTIONSELECTAREA .text-warning[level="1"]{
    display: inline-block;
}

._SELECTIONSELECTAREA .area-container[level="0"]{
    align-content: flex-start;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
}
._SELECTIONSELECTAREA .area-container div{
    display: inline-block;
    letter-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
    word-spacing: normal;
    position: relative;
}
._SELECTIONSELECTAREA .checkbox{
    margin: 5px 0;
}
._SELECTIONSELECTAREA .checkbox > label > input[type="checkbox"]{
    top: -2px;
}

._SELECTIONSELECTAREA .area-head > .glyphicon{
    display: none;
}
._SELECTIONSELECTAREA .area-container[level="1"] > .area-head > .glyphicon{
    display: inline-block;
    color: #999;
    cursor: pointer;
}
._SELECTIONSELECTAREA .area-container[level="1"] > .area-head > .glyphicon:hover{
    color: #000;
}

._SELECTIONSELECTAREA .area-container[level="0"] > .area-head{
    width: 16.5%;
}

._SELECTIONSELECTAREA .area-container[level="0"] > .area-list{
    width: 83.5%;
}

._SELECTIONSELECTAREA .area-container[level="1"]{
    width: 19.5%;
    position: relative;
}

._SELECTIONSELECTAREA .area-container[level="1"] > .area-list{
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px #ccc solid;
    width: 300px;
    padding: 5px 0 2px;
    left: 8px;
    top:25px
}
._SELECTIONSELECTAREA .area-container[level="1"] > .area-list > .area-container{
    width: 25%;
}
